{:paths ["resources" "src"]

 :deps {org.clojure/clojure              {:mvn/version "1.10.0"}
        org.clojure/core.async           {:mvn/version "0.2.391"}
        io.pedestal/pedestal.interceptor {:mvn/version "0.5.1"}
        io.pedestal/pedestal.route       {:mvn/version "0.5.1"}
        io.pedestal/pedestal.service     {:mvn/version "0.5.1"}
        cheshire                         {:mvn/version "5.5.0" :exclusions [com.fasterxml.jackson.core/jackson-core]}
        com.cognitect/transit-clj        {:mvn/version "0.8.285"}
        commons-codec                    {:mvn/version "1.10"}
        org.apache.kafka/kafka_2.11      {:mvn/version "0.10.1.0"}
        org.apache.zookeeper/zookeeper   {:mvn/version "3.4.9"}}}
